#signup{
    .container{
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        .title{
            padding: 55px 0 0 0;
            text-align: center;
            border-bottom:2px solid rgb(23, 23, 23) ;
            h2{
                font-size: 44px;
                font-weight: 300;
                padding:0 0 30px 0;
            }
            .ppp{
                text-align: right;
                padding: 0 0 8px 0;
                >  P{
                    font-size: 11px;
                    color: #666;
                        > span{
                            color: #ff1414;
                             font-size: 11px;
                        }
                    }
            }

        }
        .content{
            width: 100%;
            .join-form{
                width: 100%;
                table{
                    width: 100%;
                    border-collapse: collapse;
                    tbody{
                        width: 100%;
                        tr{
                            border-bottom:1px solid rgb(217, 217, 217) ;
                        }
                        th{
                            width: 295px;
                            height: 68px;
                            text-align: left;
                            padding: 0 0 0 43px;
                            font-size: 14px;
                            color: rgb(108, 108, 108);
                            
                            span{
                                padding: 0 0 0 5px;
                                font-size: 14px;
                                display: inline-flex;
                                transform: translateY(-1.5px);
                                color: rgb(255, 20, 20);
                            }
                        }
                        td{
                            width: 945px;
                            height: 68px;
                            > input{
                                width: 400px;
                                height: 40px;
                                background-color: #f2f2f2;
                                border: 0;
                                padding: 1px 2px 1px 20px;
                            }
                           .span-sub{
                            font-size: 12px;
                            color: rgb(255, 20, 20);
                            display: none;
                            &.on{
                                display: inline-flex;
                            }
                                > img{
                                    margin: 1px 4px 0 16px;
                                }
                              
             
                            }
                            .span-btn{
                                margin: 0 0 0 147px;
                                button{
                                    width: 200px;
                                    height: 40px;
                                    background-color: rgb(242, 242, 242);
                                    border: 0;
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: hwb(0 42% 58%);
                                    cursor: pointer;
                                    
                                }
                            }

                        }
                        .tr1{
                            height: 48px;
                            background-color: #ff6160;
                            td{
                                width: 100%;
                                text-align: center;
                                .info{
                                    > strong{
                                        font-size: 20px;
                                        color: #fff;
                                        .span1{
                                            font-size: 20px;
                                            color: #fff;
                                        }
                                        .span2{
                                            font-size: 14px;
                                            color: #fff;
                                        }
                                    }

                                }
                            }
                        }
                        .tr9{
                            td{
                                > .event{
                                    width: 25px;
                                    height: 25px;
                                    margin: 0 20px 0 0;
                                    >.check{
                                        width: 25px;
                                        height: 25px;
                                        appearance: none;
                                        background: url(../../../../../public/img/signup/ico_radio_n_25.svg) no-repeat;
                                        margin: 0 10px 0 0;
                                        background-size: 25px 25px;
                                        cursor: pointer;
                                        &.on{
                                            background: url(../../../../../public/img/signup/ico_radio_c_25.svg) no-repeat;

                                        }
                                    }
                                    > label{
                                        padding: 0 10px 0 0;
                                        font-size: 14px;
                                        line-height: 25px;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .join-agreement{
                width: 100%;
                padding: 15px 0 0 0;
                .span-agree{
                    display: block;
                    width: 100%;
                    padding: 0 0 20px 40px;
                    color: #666;
                    > input{
                        appearance: none;
                        background: url(../../../../../public/img/signup/spr-input.png) no-repeat 0 0;
                        width: 25px;
                        height: 25px;
                       margin: 0 10px 0 0 ;
                       &:checked{
                        background: url(../../../../../public/img/signup/spr-input.png) no-repeat -30px -0.1px;
                        width: 25px;
                        height: 25px;
                       }
                        
                    }
                    > label{
                        font-size: 16px;
                        line-height: 25px;
                        color: #666;
                    }
                    > span{
                        margin: 5px 0 0 0;
                        display: block;
                        padding: 0 0 0 35px;
                        color: #666;
                        line-height: 25px;
                    }

                }
                > ul{
                    width: 100%;
                    padding: 0 0 50px 0 ;
                    > li{
                        margin: 0 0 2px 0;
                        width: 100%;
                        padding: 13px 0 0 40px;
                        background-color: rgb(242, 242, 242);
                        height: 50px;
                        position: relative;
                        > input{
                            appearance: none;
                            background: url(../../../../../public/img/signup/spr-input.png) no-repeat 0 0;
                            width: 25px;
                            height: 25px;
                           margin: 0 10px 0 0 ;
                           &:checked{
                            background: url(../../../../../public/img/signup/spr-input.png) no-repeat -30px -0.1px;
                            width: 25px;
                            height: 25px;
                           }
                        }
                        > label{
                            color: #333;
                            font-size: 13px;
                        }
                
                        > span{
                            width: 62.17px;
                            position: absolute;
                            top: 14px;
                            right: 40px;
                            height: 20px;
                            border: 1px solid #333;
                            background-color: #fff;
                            > a{
                                width: 100%;
                                font-size: 11px;
                                padding: 0 8px;
                            }
                        }
                    }
                }
            }
            .btn-wrap{
                width: 100%;
                text-align: center;
                .btn1{
                    width: 180px;
                    height: 50px;
                    border: 1px solid rgb(51, 51, 51);
                    margin: 0 8px 0 0;
                    padding: 0 20px;
                    background-color: #fff;
                    color: #000;
                    font-size: 14px;
                    font-weight: 600;
                }
                .btn2{
                    width: 180px;
                    height: 50px;
                    border: 1px solid rgb(51, 51, 51);
                    margin: 0 0 0 8px;
                    padding: 0 20px;
                    background-color: #000;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}